# Ignore les fichiers d'exécution générés
*.exe
*.out
*.bin

# Ignore les fichiers objets et les fichiers intermédiaires
*.o
*.obj

# Ignore les fichiers de sauvegarde
*~
*.swp
*.swo

# Ignore les fichiers de configuration de l'éditeur
.vscode/

# Ignore les fichiers de compilation et de construction
/build/

# Ignore les dépendances générées par CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
